@import 'colors';

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  :root {
    /* Button Icon */
    --button-icon-border-radius: theme(borderRadius.full);

    /* Alert */
    --alert-border-radius: theme(borderRadius.md);

    /* Card */
    --card-border-radius: theme(borderRadius.lg);

    /* Typography */
    --font-sans: var(--font-stolzl);
    --font-sans: var(--font-inter);
    --font-sans: var(--font-futura);
    --font-sans: var(--font-recoleta);
    --font-sans: var(--font-montserrat);
    --font-sans: var(--font-roboto);
    /* --font-sans: var(--font-geogrotesque); */
    /* --font-sans: var(--font-stolzl); */
    /* --font-sans: var(--font-greycliff); */

    /* Heading */
    --heading-font: var(--font-montserrat);
    --heading-font-weight: theme(fontWeight.bold);

    /* Layout */
    --header-z-index: 999;
    --header-safe-z-index: calc(var(--header-z-index) + 1);
    --header-height: 5rem;
    --sidebar-width: 16rem;
    --layout-safespace: theme(spacing.8);

    /* Icon */
    --icon-stroke-width: 2;

    /* Ring */
    --ring-global-width: 2px;
    --ring-global-offset: 2px;

    /* Form Input */
    --input-border-width: 1px;
    --input-border-radius: theme(borderRadius.md);

    --input-height-sm: theme(spacing.8);
    --input-height: theme(spacing.9);
    --input-height-lg: theme(spacing.10);

    --input-height-sm: theme(spacing.9);
    --input-height: theme(spacing.10);
    --input-height-lg: theme(spacing.12);

    /* Textarea */
    --textarea-height: calc(var(--input-height) * 2);

    /* Button */
    --button-font: var(--font-sans);
    --button-font-weight: theme(fontWeight.semibold);
    /* --button-border-radius: var(--input-border-radius); */
    --button-border-radius: 999px;
    --button-border-width: var(--input-border-width);
    --button-height-sm: var(--input-height-sm);
    --button-height: var(--input-height);
    --button-height-lg: var(--input-height-lg);
    --button-compact-height-sm: calc(var(--input-height-sm) - theme(spacing.2));
    --button-compact-height: calc(var(--input-height) - theme(spacing.2));
    --button-compact-height-lg: calc(var(--input-height-lg) - theme(spacing.2));

    /* Button Icon */
    --button-icon-height-sm: var(--input-height-sm);
    --button-icon-height: var(--input-height);
    --button-icon-height-lg: var(--input-height-lg);
    --button-icon-width-sm: var(--button-icon-height-sm);
    --button-icon-width: var(--button-icon-height);
    --button-icon-width-lg: var(--button-icon-height-lg);
    --button-icon-compact-height-sm: var(--button-compact-height-sm);
    --button-icon-compact-height: var(--button-compact-height);
    --button-icon-compact-height-lg: var(--button-compact-height-lg);
    --button-icon-compact-width-sm: var(--button-icon-compact-height-sm);
    --button-icon-compact-width: var(--button-icon-compact-height);
    --button-icon-compact-width-lg: var(--button-icon-compact-height-lg);

    --colors-primary-50: var(--colors-brands-spotify-50);
    --colors-primary-100: var(--colors-brands-spotify-100);
    --colors-primary-200: var(--colors-brands-spotify-200);
    --colors-primary-300: var(--colors-brands-spotify-300);
    --colors-primary-400: var(--colors-brands-spotify-400);
    --colors-primary-500: var(--colors-brands-spotify-500);
    --colors-primary-600: var(--colors-brands-spotify-600);
    --colors-primary-700: var(--colors-brands-spotify-700);
    --colors-primary-800: var(--colors-brands-spotify-800);
    --colors-primary-900: var(--colors-brands-spotify-900);
    --colors-primary-950: var(--colors-brands-spotify-950);

    --colors-primary-50: var(--colors-violet-50);
    --colors-primary-100: var(--colors-violet-100);
    --colors-primary-200: var(--colors-violet-200);
    --colors-primary-300: var(--colors-violet-300);
    --colors-primary-400: var(--colors-violet-400);
    --colors-primary-500: var(--colors-violet-500);
    --colors-primary-600: var(--colors-violet-600);
    --colors-primary-700: var(--colors-violet-700);
    --colors-primary-800: var(--colors-violet-800);
    --colors-primary-900: var(--colors-violet-900);
    --colors-primary-950: var(--colors-violet-950);

    /* --colors-primary-50: var(--colors-brands-christies-50);
    --colors-primary-100: var(--colors-brands-christies-100);
    --colors-primary-200: var(--colors-brands-christies-200);
    --colors-primary-300: var(--colors-brands-christies-300);
    --colors-primary-400: var(--colors-brands-christies-400);
    --colors-primary-500: var(--colors-brands-christies-500);
    --colors-primary-600: var(--colors-brands-christies-600);
    --colors-primary-700: var(--colors-brands-christies-700);
    --colors-primary-800: var(--colors-brands-christies-800);
    --colors-primary-900: var(--colors-brands-christies-900);
    --colors-primary-950: var(--colors-brands-christies-950); */

    /* --colors-primary-50: var(--colors-orange-50);
    --colors-primary-100: var(--colors-orange-100);
    --colors-primary-200: var(--colors-orange-200);
    --colors-primary-300: var(--colors-orange-300);
    --colors-primary-400: var(--colors-orange-400);
    --colors-primary-500: var(--colors-orange-500);
    --colors-primary-600: var(--colors-orange-600);
    --colors-primary-700: var(--colors-orange-700);
    --colors-primary-800: var(--colors-orange-800);
    --colors-primary-900: var(--colors-orange-900);
    --colors-primary-950: var(--colors-orange-950); */

    /* --colors-primary-50: var(--colors-blue-50);
    --colors-primary-100: var(--colors-blue-100);
    --colors-primary-200: var(--colors-blue-200);
    --colors-primary-300: var(--colors-blue-300);
    --colors-primary-400: var(--colors-blue-400);
    --colors-primary-500: var(--colors-blue-500);
    --colors-primary-600: var(--colors-blue-600);
    --colors-primary-700: var(--colors-blue-700);
    --colors-primary-800: var(--colors-blue-800);
    --colors-primary-900: var(--colors-blue-900);
    --colors-primary-950: var(--colors-blue-950); */

    /* --colors-primary-50: var(--colors-brands-spotify-50);
    --colors-primary-100: var(--colors-brands-spotify-100);
    --colors-primary-200: var(--colors-brands-spotify-200);
    --colors-primary-300: var(--colors-brands-spotify-300);
    --colors-primary-400: var(--colors-brands-spotify-400);
    --colors-primary-500: var(--colors-brands-spotify-500);
    --colors-primary-600: var(--colors-brands-spotify-600);
    --colors-primary-700: var(--colors-brands-spotify-700);
    --colors-primary-800: var(--colors-brands-spotify-800);
    --colors-primary-900: var(--colors-brands-spotify-900);
    --colors-primary-950: var(--colors-brands-spotify-950); */

    --colors-primary-50: var(--colors-zinc-50);
    --colors-primary-100: var(--colors-zinc-100);
    --colors-primary-200: var(--colors-zinc-200);
    --colors-primary-300: var(--colors-zinc-300);
    --colors-primary-400: var(--colors-zinc-400);
    --colors-primary-500: var(--colors-zinc-950);
    --colors-primary-600: var(--colors-zinc-950);
    --colors-primary-700: var(--colors-zinc-700);
    --colors-primary-800: var(--colors-zinc-800);
    --colors-primary-900: var(--colors-zinc-900);
    --colors-primary-950: var(--colors-zinc-950);

    --colors-primary-50: var(--colors-brands-mss-50);
    --colors-primary-100: var(--colors-brands-mss-100);
    --colors-primary-200: var(--colors-brands-mss-200);
    --colors-primary-300: var(--colors-brands-mss-300);
    --colors-primary-400: var(--colors-brands-mss-400);
    --colors-primary-500: var(--colors-brands-mss-500);
    --colors-primary-600: var(--colors-brands-mss-600);
    --colors-primary-700: var(--colors-brands-mss-700);
    --colors-primary-800: var(--colors-brands-mss-800);
    --colors-primary-900: var(--colors-brands-mss-900);
    --colors-primary-950: var(--colors-brands-mss-950);

    --colors-neutral-50: var(--colors-zinc-50);
    --colors-neutral-100: var(--colors-zinc-100);
    --colors-neutral-200: var(--colors-zinc-200);
    --colors-neutral-300: var(--colors-zinc-300);
    --colors-neutral-400: var(--colors-zinc-400);
    --colors-neutral-500: var(--colors-zinc-500);
    --colors-neutral-600: var(--colors-zinc-600);
    --colors-neutral-700: var(--colors-zinc-700);
    --colors-neutral-800: var(--colors-zinc-800);
    --colors-neutral-900: var(--colors-zinc-900);
    --colors-neutral-950: var(--colors-zinc-950);

    /* --colors-neutral-50: var(--colors-slate-50);
    --colors-neutral-100: var(--colors-slate-100);
    --colors-neutral-200: var(--colors-slate-200);
    --colors-neutral-300: var(--colors-slate-300);
    --colors-neutral-400: var(--colors-slate-400);
    --colors-neutral-500: var(--colors-slate-500);
    --colors-neutral-600: var(--colors-slate-600);
    --colors-neutral-700: var(--colors-slate-700);
    --colors-neutral-800: var(--colors-slate-800);
    --colors-neutral-900: var(--colors-slate-900);
    --colors-neutral-950: var(--colors-slate-950); */

    /* No Radius */
    --border-radius: 0rem;
    --border-radius--sm: 0rem;
    --border-radius--md: 0rem;
    --border-radius--lg: 0rem;
    --border-radius--xl: 0rem;
    --border-radius--2xl: 0rem;
    --border-radius--3xl: 0rem;

    /* --border-radius: 0.25rem;
    --border-radius--sm: 0.125rem;
    --border-radius--md: 0.375rem;
    --border-radius--lg: 0.5rem;
    --border-radius--xl: 0.75rem;
    --border-radius--2xl: 1rem;
    --border-radius--3xl: 1.5rem;

    */
    --border-radius: 0.36rem;
    --border-radius--sm: 0.18rem;
    --border-radius--md: 0.54rem;
    --border-radius--lg: 0.72rem;
    --border-radius--xl: 1.08rem;
    --border-radius--2xl: 1.44rem;
    --border-radius--3xl: 2.16rem;

    --border-radius--sm: 0.2692rem;
    --border-radius: 0.4595rem;
    --border-radius--md: 0.648rem;
    --border-radius--lg: 1.0368rem;
    --border-radius--xl: 1.5552rem;
    --border-radius--2xl: 2.0736rem;
    --border-radius--3xl: 3.1104rem;
  }

  .dark {
    --colors-background-default: theme(colors.neutral.950);
    --colors-background-elevation-1: theme(colors.neutral.900);
    --colors-background-elevation-2: theme(colors.neutral.800);
    --colors-background-elevation-3: theme(colors.neutral.700);
    --colors-background-elevation-4: theme(colors.neutral.300);
    --colors-background-elevation-5: theme(colors.neutral.200);
    --colors-background-elevation-6: theme(colors.neutral.100);
  }
}
