@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: theme(colors.primary.DEFAULT) !important;
}
#nprogress .peg {
  box-shadow:
    0 0 10px theme(colors.primary.DEFAULT),
    0 0 5px theme(colors.primary.DEFAULT) !important;
}

#nprogress .spinner-icon {
  border-top-color: theme(colors.primary.DEFAULT) !important;
  border-left-color: theme(colors.primary.DEFAULT) !important;
}

/* A bit hacky, but removes webkit auto fill background colors for forms */
/* Needs to be made dynamic to update if/when input background color is modified at component level */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

html {
  -webkit-tap-highlight-color: transparent;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

:root {
  /* Reddit */
  --colors-brands-reddit-50: 255 246 236;
  --colors-brands-reddit-100: 255 234 211;
  --colors-brands-reddit-200: 255 209 165;
  --colors-brands-reddit-300: 255 176 109;
  --colors-brands-reddit-400: 255 130 50;
  --colors-brands-reddit-500: 255 95 10;
  --colors-brands-reddit-600: 255 69 0;
  --colors-brands-reddit-700: 204 47 2;
  --colors-brands-reddit-800: 161 37 11;
  --colors-brands-reddit-900: 130 34 12;
  --colors-brands-reddit-950: 70 13 4;

  /* Motorsport and Spares */
  --colors-brands-mss-50: 247 230 230;
  --colors-brands-mss-100: 239 204 204;
  --colors-brands-mss-200: 222 153 153;
  --colors-brands-mss-300: 206 102 102;
  --colors-brands-mss-400: 189 51 51;
  --colors-brands-mss-500: 173 0 0;
  --colors-brands-mss-600: 138 0 0;
  --colors-brands-mss-700: 104 0 0;
  --colors-brands-mss-800: 69 0 0;
  --colors-brands-mss-900: 35 0 0;
  --colors-brands-mss-950: 17 0 0;

  --colors-brands-spotify-50: 240 253 244;
  --colors-brands-spotify-100: 219 253 230;
  --colors-brands-spotify-200: 186 248 207;
  --colors-brands-spotify-300: 132 241 170;
  --colors-brands-spotify-400: 72 224 125;
  --colors-brands-spotify-500: 29 185 84;
  --colors-brands-spotify-600: 20 165 71;
  --colors-brands-spotify-700: 19 130 59;
  --colors-brands-spotify-800: 21 102 51;
  --colors-brands-spotify-900: 19 84 44;
  --colors-brands-spotify-950: 4 47 21;

  --colors-brands-gtechniq-50: 255 229 229;
  --colors-brands-gtechniq-100: 255 204 204;
  --colors-brands-gtechniq-200: 255 153 153;
  --colors-brands-gtechniq-300: 255 102 102;
  --colors-brands-gtechniq-400: 255 51 51;
  --colors-brands-gtechniq-500: 254 0 0;
  --colors-brands-gtechniq-600: 204 0 0;
  --colors-brands-gtechniq-700: 153 0 0;
  --colors-brands-gtechniq-800: 102 0 0;
  --colors-brands-gtechniq-900: 51 0 0;
  --colors-brands-gtechniq-950: 25 0 0;

  /* Christies */
  --colors-brands-christies-50: 219 237 255;
  --colors-brands-christies-100: 184 219 255;
  --colors-brands-christies-200: 112 184 255;
  --colors-brands-christies-300: 46 150 255;
  --colors-brands-christies-400: 0 115 230;
  --colors-brands-christies-500: 0 79 159;
  --colors-brands-christies-600: 0 64 128;
  --colors-brands-christies-700: 0 48 97;
  --colors-brands-christies-800: 0 31 61;
  --colors-brands-christies-900: 0 15 31;
  --colors-brands-christies-950: 0 8 15;

  --colors-brands-green-50: 233 247 244;
  --colors-brands-green-100: 210 239 233;
  --colors-brands-green-200: 165 222 211;
  --colors-brands-green-300: 121 206 189;
  --colors-brands-green-400: 76 189 167;
  --colors-brands-green-500: 31 173 145;
  --colors-brands-green-600: 25 138 116;
  --colors-brands-green-700: 19 104 87;
  --colors-brands-green-800: 12 69 58;
  --colors-brands-green-900: 6 35 29;

  --colors-brands-forest-50: 231 236 235;
  --colors-brands-forest-100: 206 217 216;
  --colors-brands-forest-200: 157 179 176;
  --colors-brands-forest-300: 108 140 137;
  --colors-brands-forest-400: 59 102 97;
  --colors-brands-forest-500: 10 64 58;
  --colors-brands-forest-600: 8 51 46;
  --colors-brands-forest-700: 6 38 35;
  --colors-brands-forest-800: 4 26 23;
  --colors-brands-forest-900: 2 13 12;

  /* Colors */

  --colors-slate-50: 251 251 252;
  --colors-slate-100: 244 244 246;
  --colors-slate-200: 230 231 235;
  --colors-slate-300: 209 213 219;
  --colors-slate-400: 155 163 176;
  --colors-slate-500: 103 113 131;
  --colors-slate-600: 75 85 98;
  --colors-slate-700: 57 66 81;
  --colors-slate-800: 34 42 53;
  --colors-slate-900: 23 27 38;
  --colors-slate-950: 15 18 26;

  --colors-zinc-50: 250 250 250;
  --colors-zinc-100: 242 242 244;
  --colors-zinc-200: 228 228 231;
  --colors-zinc-300: 212 212 216;
  --colors-zinc-400: 161 161 170;
  --colors-zinc-500: 113 113 122;
  --colors-zinc-600: 82 82 91;
  --colors-zinc-700: 63 63 70;
  --colors-zinc-800: 39 39 42;
  --colors-zinc-900: 24 24 27;
  --colors-zinc-950: 15 15 18;

  --colors-orange-50: 255 247 237;
  --colors-orange-100: 255 237 213;
  --colors-orange-200: 254 215 170;
  --colors-orange-300: 253 186 116;
  --colors-orange-400: 251 146 60;
  --colors-orange-500: 249 115 22;
  --colors-orange-600: 234 88 12;
  --colors-orange-700: 194 65 12;
  --colors-orange-800: 154 52 18;
  --colors-orange-900: 124 45 18;
  --colors-orange-950: 67 20 7;

  --colors-blue-50: 239 246 255;
  --colors-blue-100: 219 234 254;
  --colors-blue-200: 191 219 254;
  --colors-blue-300: 147 197 253;
  --colors-blue-400: 96 165 250;
  --colors-blue-500: 59 130 246;
  --colors-blue-600: 37 99 235;
  --colors-blue-700: 29 78 216;
  --colors-blue-800: 30 64 175;
  --colors-blue-900: 30 58 138;
  --colors-blue-950: 23 37 84;

  --colors-violet-50: 245 243 255;
  --colors-violet-100: 237 233 254;
  --colors-violet-200: 221 214 254;
  --colors-violet-300: 196 181 253;
  --colors-violet-400: 167 139 250;
  --colors-violet-500: 139 92 246;
  --colors-violet-600: 124 58 237;
  --colors-violet-700: 109 40 217;
  --colors-violet-800: 91 33 182;
  --colors-violet-900: 76 29 149;
  --colors-violet-950: 46 16 101;

  --colors-rose-50: 255 241 242;
  --colors-rose-100: 255 228 230;
  --colors-rose-200: 254 205 211;
  --colors-rose-300: 253 164 175;
  --colors-rose-400: 251 113 133;
  --colors-rose-500: 244 63 94;
  --colors-rose-600: 225 29 72;
  --colors-rose-700: 190 18 60;
  --colors-rose-800: 159 18 57;
  --colors-rose-900: 136 19 55;
  --colors-rose-950: 76 5 25;

  /* Button Icon */
  --button-icon-border-radius: theme(borderRadius.full);

  /* Alert */
  --alert-border-radius: theme(borderRadius.md);

  /* Card */
  --card-border-radius: theme(borderRadius.md);

  /* Typography */
  --font-sans: var(--font-inter);
  --font-sans: var(--font-satoshi);

  /* Heading */
  --heading-font: var(--font-sans);
  --heading-font-weight: theme(fontWeight.bold);

  /* Layout */
  --header-z-index: 999;
  --header-safe-z-index: calc(var(--header-z-index) + 1);
  --header-height: 5rem;
  --sidebar-width: 16rem;
  --layout-safespace: theme(spacing.8);

  /* Icon */
  --icon-stroke-width: 2;

  /* Ring */
  --ring-global-width: 2px;
  --ring-global-offset: 2px;

  /* Form Input */
  --input-border-width: 1px;
  --input-border-radius: theme(borderRadius.md);
  /* --input-border-radius: 999px; */

  --input-height-sm: theme(spacing.10);
  --input-height: theme(spacing.11);
  --input-height-lg: theme(spacing.12);

  /* Textarea */
  --textarea-height: calc(var(--input-height) * 2);

  /* Button */
  --button-font: var(--font-sans);
  --button-font-weight: theme(fontWeight.semibold);
  --button-border-radius: var(--input-border-radius);
  /* --button-border-radius: 999px; */
  --button-border-width: var(--input-border-width);
  --button-height-sm: var(--input-height-sm);
  --button-height: var(--input-height);
  --button-height-lg: var(--input-height-lg);
  --button-compact-height-sm: calc(var(--input-height-sm) - theme(spacing.2));
  --button-compact-height: calc(var(--input-height) - theme(spacing.2));
  --button-compact-height-lg: calc(var(--input-height-lg) - theme(spacing.2));

  /* Button Icon */
  --button-icon-height-sm: var(--input-height-sm);
  --button-icon-height: var(--input-height);
  --button-icon-height-lg: var(--input-height-lg);
  --button-icon-width-sm: var(--button-icon-height-sm);
  --button-icon-width: var(--button-icon-height);
  --button-icon-width-lg: var(--button-icon-height-lg);
  --button-icon-compact-height-sm: var(--button-compact-height-sm);
  --button-icon-compact-height: var(--button-compact-height);
  --button-icon-compact-height-lg: var(--button-compact-height-lg);
  --button-icon-compact-width-sm: var(--button-icon-compact-height-sm);
  --button-icon-compact-width: var(--button-icon-compact-height);
  --button-icon-compact-width-lg: var(--button-icon-compact-height-lg);

  --colors-primary-50: var(--colors-blue-50);
  --colors-primary-100: var(--colors-blue-100);
  --colors-primary-200: var(--colors-blue-200);
  --colors-primary-300: var(--colors-blue-300);
  --colors-primary-400: var(--colors-blue-400);
  --colors-primary-500: var(--colors-blue-500);
  --colors-primary-600: var(--colors-blue-600);
  --colors-primary-700: var(--colors-blue-700);
  --colors-primary-800: var(--colors-blue-800);
  --colors-primary-900: var(--colors-blue-900);
  --colors-primary-950: var(--colors-blue-950);

  /* --colors-primary-50: var(--colors-violet-50);
  --colors-primary-100: var(--colors-violet-100);
  --colors-primary-200: var(--colors-violet-200);
  --colors-primary-300: var(--colors-violet-300);
  --colors-primary-400: var(--colors-violet-400);
  --colors-primary-500: var(--colors-violet-500);
  --colors-primary-600: var(--colors-violet-600);
  --colors-primary-700: var(--colors-violet-700);
  --colors-primary-800: var(--colors-violet-800);
  --colors-primary-900: var(--colors-violet-900);
  --colors-primary-950: var(--colors-violet-950); */

  --colors-primary-50: var(--colors-brands-forest-50);
  --colors-primary-100: var(--colors-brands-forest-100);
  --colors-primary-200: var(--colors-brands-forest-200);
  --colors-primary-300: var(--colors-brands-forest-300);
  --colors-primary-400: var(--colors-brands-forest-400);
  --colors-primary-500: var(--colors-brands-forest-500);
  --colors-primary-600: var(--colors-brands-forest-600);
  --colors-primary-700: var(--colors-brands-forest-700);
  --colors-primary-800: var(--colors-brands-forest-800);
  --colors-primary-900: var(--colors-brands-forest-900);
  --colors-primary-950: var(--colors-brands-forest-950);

  --colors-primary-50: var(--colors-brands-christies-50);
  --colors-primary-100: var(--colors-brands-christies-100);
  --colors-primary-200: var(--colors-brands-christies-200);
  --colors-primary-300: var(--colors-brands-christies-300);
  --colors-primary-400: var(--colors-brands-christies-400);
  --colors-primary-500: var(--colors-brands-christies-500);
  --colors-primary-600: var(--colors-brands-christies-600);
  --colors-primary-700: var(--colors-brands-christies-700);
  --colors-primary-800: var(--colors-brands-christies-800);
  --colors-primary-900: var(--colors-brands-christies-900);
  --colors-primary-950: var(--colors-brands-christies-950);

  --colors-primary-50: var(--colors-brands-mss-50);
  --colors-primary-100: var(--colors-brands-mss-100);
  --colors-primary-200: var(--colors-brands-mss-200);
  --colors-primary-300: var(--colors-brands-mss-300);
  --colors-primary-400: var(--colors-brands-mss-400);
  --colors-primary-500: var(--colors-brands-mss-500);
  --colors-primary-600: var(--colors-brands-mss-600);
  --colors-primary-700: var(--colors-brands-mss-700);
  --colors-primary-800: var(--colors-brands-mss-800);
  --colors-primary-900: var(--colors-brands-mss-900);
  --colors-primary-950: var(--colors-brands-mss-950);

  --colors-neutral-50: var(--colors-slate-50);
  --colors-neutral-100: var(--colors-slate-100);
  --colors-neutral-200: var(--colors-slate-200);
  --colors-neutral-300: var(--colors-slate-300);
  --colors-neutral-400: var(--colors-slate-400);
  --colors-neutral-500: var(--colors-slate-500);
  --colors-neutral-600: var(--colors-slate-600);
  --colors-neutral-700: var(--colors-slate-700);
  --colors-neutral-800: var(--colors-slate-800);
  --colors-neutral-900: var(--colors-slate-900);
  --colors-neutral-950: var(--colors-slate-950);

  /* No Radius */
  --border-radius: 0rem;
  --border-radius--sm: 0rem;
  --border-radius--md: 0rem;
  --border-radius--lg: 0rem;
  --border-radius--xl: 0rem;
  --border-radius--2xl: 0rem;
  --border-radius--3xl: 0rem;

  --border-radius: 0.25rem;
  --border-radius--sm: 0.125rem;
  --border-radius--md: 0.375rem;
  --border-radius--lg: 0.5rem;
  --border-radius--xl: 0.75rem;
  --border-radius--2xl: 1rem;
  --border-radius--3xl: 1.5rem;

  /* --border-radius: 0.36rem;
  --border-radius--sm: 0.18rem;
  --border-radius--md: 0.54rem;
  --border-radius--lg: 0.72rem;
  --border-radius--xl: 1.08rem;
  --border-radius--2xl: 1.44rem;
  --border-radius--3xl: 2.16rem; */

  /* --border-radius--sm: 0.2692rem;
  --border-radius: 0.4595rem;
  --border-radius--md: 0.648rem;
  --border-radius--lg: 1.0368rem;
  --border-radius--xl: 1.5552rem;
  --border-radius--2xl: 2.0736rem;
  --border-radius--3xl: 3.1104rem; */
}
